<a href="https://colab.research.google.com/github/klarcika/TZ/blob/main/Naloga3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [7]:
df_rank= pd.read_csv("university_rank_2020.csv",index_col="University", decimal=",")

In [8]:
df_other = pd.read_csv("university_rank_other.csv", sep=" ",index_col=0, decimal=".")

In [9]:
df_student= pd.read_excel("university_rank_students.xlsx",index_col="University", sheet_name=0)

In [10]:
df = pd.concat([df_other, df_rank, df_student], axis=1)

In [11]:
# 1. Izpišite:

# koliko vrstic in stolpcev ima ta združen df,
# kakšnega tipa so posamezni stolpci,
# prvih 5 vrstic in
# koliko je manjkajočih podatkov v posameznem stolpcu.
df.shape

(1396, 13)

In [12]:
df.dtypes

Teaching                     float64
Research                     float64
Citations                    float64
Industry_Income              float64
International_Outlook         object
Country                       object
Number_students               object
Numb_students_per_Staff       object
Score_Result                  object
Rank                           int64
International_Students(%)    float64
Percentage_Female(%)         float64
Percentage_Male(%)           float64
dtype: object

In [13]:
df[:5]

,Teaching,Research,Citations,Industry_Income,International_Outlook,Country,Number_students,Numb_students_per_Staff,Score_Result,Rank,International_Students(%),Percentage_Female(%),Percentage_Male(%)
University of Oxford,90.5,99.6,98.4,65.5,excellent,United Kingdom,20.664,11.2,95.4,1,41.0,46.0,54.0
California Institute of Technology,92.1,97.2,97.9,88.0,excellent,United States,2.24,6.4,94.5,2,30.0,NaN,66.0
University of Cambridge,91.4,98.7,95.8,59.3,excellent,United Kingdom,18.977999999999998,10.9,94.4,3,37.0,47.0,53.0
Stanford University,92.8,96.4,99.9,66.2,excellent,United States,16.135,7.3,94.3,4,NaN,43.0,57.0
Massachusetts Institute of Technology,90.5,92.4,99.5,86.9,excellent,United States,11.247,8.6,93.6,5,34.0,39.0,61.0

In [14]:
df.isnull().sum()

Teaching                      0
Research                      0
Citations                     0
Industry_Income               0
International_Outlook        11
Country                       0
Number_students               0
Numb_students_per_Staff       0
Score_Result                  0
Rank                          0
International_Students(%)    38
Percentage_Female(%)         36
Percentage_Male(%)           27
dtype: int64

In [ ]:
stevilski=["International_Students", "Percentage_Female", "Percentage_Male"]

In [22]:
# 2. Vse manjkajoče vrednosti v številskih stolpcih nadomestite s
# povprečjem stolpca (pri tem si pomagajte s knjižnico sklearn).
#  Ponovno izpišite koliko je manjkajočih podatkov v posameznem stolpcu.
from sklearn.impute import SimpleImputer
import numpy as np
povprecje= SimpleImputer(missing_values=np.nan, strategy="mean")
stevilski = ["International_Students(%)", "Percentage_Female(%)", "Percentage_Male(%)"]
df[stevilski] = povprecje.fit_transform(df[stevilski])
df.isnull().sum()

Teaching                      0
Research                      0
Citations                     0
Industry_Income               0
International_Outlook        11
Country                       0
Number_students               0
Numb_students_per_Staff       0
Score_Result                  0
Rank                          0
International_Students(%)     0
Percentage_Female(%)          0
Percentage_Male(%)            0
dtype: int64

In [26]:
# 3. Kategorične oz. nominalne vrednosti nadomestite z
# najpogostejšimi vrednostmi stolpca (pri tem si pomagajte s knjižnico sklearn).
# Ponovno izpišite koliko je manjkajočih podatkov v posameznem stolpcu.
kategoricni=["International_Outlook"]
najpogostejsi= SimpleImputer(missing_values=np.nan, strategy="most_frequent") #ce dopolnjujemo z stevilskimi, damo most_frequent
df[kategoricni]= najpogostejsi.fit_transform(df[kategoricni])
df.isnull().sum()

Teaching                     0
Research                     0
Citations                    0
Industry_Income              0
International_Outlook        0
Country                      0
Number_students              0
Numb_students_per_Staff      0
Score_Result                 0
Rank                         0
International_Students(%)    0
Percentage_Female(%)         0
Percentage_Male(%)           0
dtype: int64

In [27]:
# 4. Podatke brez manjkajočih vrednosti shranite v .csv
# datoteko poimenovano university_rank_no_nan.csv.
# Stolpci naj bodo ločeni z vejico, decimalna števila pa zapisana s piko.
df.to_csv('university_rank_no_nan.csv', sep=',', decimal='.')

In [28]:
df.dtypes

Teaching                     float64
Research                     float64
Citations                    float64
Industry_Income              float64
International_Outlook         object
Country                       object
Number_students               object
Numb_students_per_Staff       object
Score_Result                  object
Rank                           int64
International_Students(%)    float64
Percentage_Female(%)         float64
Percentage_Male(%)           float64
dtype: object

In [ ]:
# 5. Podatke razdelite na učno in testno množico.
# Vhod v vaš klasifikacijski algoritem naj predstavljajo vsi številski stolpci. Napovedovali boste vrednost International_Outlook.
# Testna množica naj bo velikosti 25%, random_state pa 123.
from sklearn.model_selection import train_test_split #y napovedujemo je kategoricen podatek
#dolocimo in izhodne podatke
izhod="Type" #outcome
vhod=["Rooms", "Bathroom","CarSpots", "YearBuilt","Price" ]#predstavlja vec stolpcev, na podlagi cesa klasificiramo? keri so relevantni


x_train,x_test, y_train, y_test= train_test_split(df[vhod], df[izhod], test_size=0.2, random_state=123)#radom state je naključna delitev
x_train.shape